#contacts.modal.filled.fade-anim
  h2.title Contact Form
  span( data-close )

  form: fieldset#contact-form-inputs.no-border
    label
      | Name
      input( name='name' placeholder='*Your* name' )