header#primary-nav: .wrapper.medium.flex.between
  h1.title: a( href='/index.html' )
    strong Allen&nbsp;
    | McIntosh II

  +page-links('about', 'wishlist')

  span.hide-md.mobile-menu-trigger( data-open='mobile-nav' )
